@media screen and (min-width: $mobile-width) {
  .header {
    background-color: rgba(117, 188, 151, 1);
    height: 504px;
    display: flex;
    align-self: stretch;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/hero/desktop/left-leaves.png),
      url(../images/hero/desktop/right-leaves.png),
      url(../images/hero/desktop/plantperson.png);
    background-position: left -10vw center, right center, right 28vw center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 60vw 100%, 30vw 100%, 335px 428px;

    &__container {
      padding: 56px 0 56px;
      margin-left: 32px;
      max-width: 100%;
    }
    &__logo {
      height: 24px;
      margin-bottom: 40px;
    }

    &__title {
      margin: 0;
      font-weight: 700;
      color: rgba(255, 255, 255, 1);
      font-size: 4rem;
      width: 50%;
      line-height: 88px;
    }

    &__arrow {
      height: 32px;
      width: 32px;
      margin-top: 32px;
    }
  }
}

@media screen and (max-width: $mobile-width) {
  .header {
    background-color: rgba(117, 188, 151, 1);
    width: 100%;
    display: flex;
    background-image: url(../images/hero/mobile/mobile-leaves.png),
      url(../images/hero/mobile/mobile-plantperson.png);
    background-position: top -40vw right, bottom 24px right 10vw;
    background-repeat: no-repeat, no-repeat;
    background-size: 100%, 80vw;

    &__container {
      padding: 36px 36px 0px;
      width: 100vw;
      height: 140vw;
      max-height: 100vh;
    }

    &__logo {
      height: 20px;
      margin-bottom: 32px;
    }

    &__title {
      font-size: 2.5rem;
      line-height: 49px;
      margin: 0;
      font-weight: 700;
      color: rgba(255, 255, 255, 1);
    }

    &__arrow {
      height: 40px;
      width: 40px;
      margin-top: 16px;
    }
  }
}
