.result {
  position: relative;
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  flex: 1;
  justify-content: center;

  &__empty-result {
    width: 900px;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 112px;
    margin: 52px 32px 64px;

    .image_no-result {
      align-self: center;
    }

    .text-container {
      align-self: center;
      .title {
        font-family: "Montserrat";
        font-weight: bold;
        font-size: 2.813rem;
        line-height: 55px;
        color: #a9a9a9;
      }

      .subtitle {
        max-width: 220px;
        font-family: Montserrat;
        font-size: 1rem;
        line-height: 27px;
        color: #a9a9a9;
      }
    }
  }

  &__fullfiled-result {
    width: 900px;
    max-width: 100%;
    margin: 52px 32px 64px;

    .back-to-top {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #15573f;
      border-radius: 999px;
      padding: 16px;
      color: #196146;
      text-decoration: none;
      font-size: 1rem;
      line-height: 20px;

      margin-top: 60px;

      img {
        height: 24px;
        margin: 0 18px;
      }
    }
  }

  &__pick-image {
    height: 80px;
    margin-bottom: 24px;
  }

  &__title {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3.438rem;
    line-height: 67px;
    color: #0c261c;
    margin-bottom: 58px;
  }

  &__plants {
    display: grid;
    gap: 24px 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(1fr, 320px);
  }

  .card {
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &_favorite {
      position: relative;
      grid-area: span 2 / span 2;
    }

    &__header {
      padding-top: 16px;
      display: flex;
      flex: 1;
    }

    &__favorite-badge {
      position: absolute;
      top: 32px;
      left: 0;
      background-color: #75bc97;
      padding: 8px 24px 8px 24px;
      border-radius: 0 24px 24px 0;
      color: #fff;
      font-size: 1.125rem;
      font-weight: 700;
      line-height: 22px;
      box-shadow: 0px 12px 28px rgba(0, 0, 0, 0.181163);
    }

    &__image {
      width: 100%;
      min-height: 144px;
      object-fit: contain;
      &_favorite {
        min-height: 352px;
        margin-top: auto;
        margin-bottom: auto;
      }
    }

    &__details-container {
      padding: 12px 16px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      flex: 1;

      &_favorite {
        flex-direction: row;
        justify-content: center;
        flex: 0;
        padding: 16px 28px 28px;
      }
    }

    &__text {
      font-weight: 700;
      font-size: 1rem;
      line-height: 28px;
      color: #1e6b4e;
      &_favorite {
        font-size: 2.188rem;
        line-height: 37px;
      }
      &_small {
        font-size: 1.5rem;
        line-height: 28px;
      }
    }

    &__details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &_favorite {
        flex-direction: column;
        align-items: flex-end;
      }
    }

    &__attributes {
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 8px;
      img {
        height: 24px;
        width: 24px;
        margin-top: auto;
        margin-bottom: auto;
      }
      &_favorite {
        gap: 10px;
        img {
          height: 28px;
          width: 28px;
        }
      }
    }
  }
}

@media screen and (max-width: $mobile-width) {
  .result {
    &__empty-result {
      width: unset;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: 40px;
      margin: 48px 36px 32px;

      .title {
        margin-bottom: 32px;
      }
      .image_no-result {
        display: flex;
        align-content: center;
        justify-content: center;
      }
    }

    &__fullfiled-result {
      width: 100%;
      margin: 0;

      .back-to-top {
        margin: 32px;
      }
    }

    &__pick-image {
      height: 72px;
      margin: 32px 32px 18px;
    }

    &__title {
      font-size: 2.5rem;
      line-height: 49px;
      margin: 0 32px 16px;
    }

    &__plants {
      display: grid;
      padding-bottom: 8px;
      gap: 16px;
      overflow-x: scroll;
      grid-template-columns:
        16px
        repeat(var(--total), 256px)
        16px;
      grid-template-rows: minmax(320px, 1fr);

      &::before,
      &::after {
        content: "";
      }
    }

    .card {
      &_favorite {
        grid-area: unset;
      }

      &__header {
        display: flex;
        align-content: center;
        justify-content: center;
      }

      &__image {
        width: unset;
        min-height: unset;
        margin: 0;
        height: 200px;
        overflow: hidden;
      }

      &__favorite-badge {
        position: absolute;
        top: 20px;
        left: 0;
        background-color: #75bc97;
        padding: 8px 16px;
        border-radius: 0 24px 24px 0;
        color: #fff;
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 16px;
        box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.181163);
      }

      &__details-container {
        padding: 8px 24px;
        &_favorite {
          flex-direction: column;
          justify-content: flex-start;
          flex: 0;
          padding: 8px 24px;
        }
      }

      &__text {
        font-size: 1rem;
        line-height: 37px;
        color: #1e6b4e;
        &_small {
          font-size: 1rem;
          line-height: 28px;
        }
      }

      &__details {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &__attributes {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 8px;
        img {
          margin: 0;
          height: 24px;
          width: 24px;
        }
      }
    }
  }
}
